# Docker
# Build a Docker image
# https://docs.microsoft.com/azure/devops/pipelines/languages/docker

trigger:
- main

resources:
- repo: self

variables:
  tag: '$(Build.BuildId)'
  azureSubscription: 'azureserviceconnection'
  appName: 'my-demonode-app'

stages:
- stage: Build
  displayName: Build image
  jobs:
  - job: Build
    displayName: Build
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: Docker@2
      displayName: Build an image
      inputs:
        containerRegistry: 'u9ankit-docker-hub-connection'
        repository: 'u9ankit/demonode'
        command: 'buildAndPush'
        Dockerfile: '**/Dockerfile'
        tags: '$(tag)'

# ---------------- DEPLOY ----------------
- stage: Deploy
  displayName: Deploy to Azure Web App
  dependsOn: Build
  jobs:
  - job: Deploy
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: AzureWebAppContainer@1
      displayName: Deploy Docker Image to Azure Web App
      inputs:
        azureSubscription: '$(azureSubscription)'
        appName: '$(appName)'
        containers: |
          $(imageName):$(tag)