trigger: none
pr: none

parameters:
- name: imageTag
  displayName: Image tag to deploy (Build ID)
  type: string
  default: ''

stages:
- stage: Deploy_Stag
  displayName: Deploy to STAGING
  jobs:
  - deployment: DeployStag
    displayName: Deploy to Staging Web App
    environment: stag
    strategy:
      runOnce:
        deploy:
          steps:
          - script: |
              echo "Deploying image tag: $(imageTag) to STAGING"
